<ion-content>
  <div class="background">
      <img  class="icone-museu" src="../../assets/img/icon-museu.png" alt="Museu">
    <div class="alinhar-items">
    <fieldset>
        <legend>Usuário</legend>
        <ion-input type="text"></ion-input>
      </fieldset>
      <fieldset>
          <legend>Senha</legend>
          <ion-input type="password"></ion-input>
        </fieldset>
        <div class="alinhar-botao">
          <ion-button shape="round" color="dark" routerLink="/visitar" expand="block">ENTRAR</ion-button>
          <a routerLink="/cadastrar">Não possui uma conta?</a>      
        </div>
      </div>
    </div>

</ion-content>
