<ion-content>
    <div class="formulario">
        <hr class="linha-marcacao"/>
      <ion-label>Nome</ion-label>
      <ion-input type="text"></ion-input>
      <hr class="linha"/>
  
      <ion-label>Telefone</ion-label>
      <ion-input type="number"></ion-input>
      <hr class="linha"/>
  
  
      <ion-label>CEP</ion-label>
      <ion-input type="number"></ion-input>
      <hr class="linha"/>
  
  
      <ion-label>Endereço</ion-label>
      <ion-input type="text"></ion-input>
      <hr class="linha"/>
  
      <ion-label>Bairro</ion-label>
      <ion-input type="text"></ion-input>
      <hr class="linha"/>
  
  
      <ion-label>Complemento</ion-label>
      <ion-input type="text"></ion-input>
      <hr class="linha"/>
  
  
      <ion-label>Usuário</ion-label>
      <ion-input type="text"></ion-input>
      <hr class="linha"/>
  
  
      <ion-label>Senha</ion-label>
      <ion-input type="password"></ion-input>
      <hr class="linha"/>
      <hr class="linha-marcacao"/>

      <div class="alinhar-botao">
        <ion-button shape="round" color="dark" routerLink="/visitar" expand="block">CONFIRMAR</ion-button>
        <ion-button shape="round" color="light" fill="outline" expand="block" routerLink="/inicio">VOLTAR</ion-button>      
       </div>
    </div>
  </ion-content>