<ion-content>
  <div class="background">
      <hr class="barra-cima">
    <img src="../../assets/img/noite_estrelada.jpg" class="obra" alt="Search Icon">
    <hr>
    <div class="desc">
        Noite Estrelada é uma pintura de Vincent van Gogh de 1889. A obra retrata a vista da janela de um quarto do hospício de Saint-Rémy-de-Provence.
    </div>

    <footer>
        <img src="../../assets/icon/back.png" class="back_btn" routerLink="/visitar" alt="Voltar Icon">

        <button class="btn-search" routerLink="/inicio">
            <img src="../../assets/icon/x_button.png" alt="X Icon">
        </button>

        <img src="../../assets/icon/avancar.png" class="x_btn" routerLink="/tela-final" alt="Avancar Icon">

    </footer>
  </div>
</ion-content>
