
  <ion-content>
  <div class="background">
    <h2 class="nome-museu">
        {{nomeMuseu}}
    </h2>
    <img  class="icone-museu" src="../../assets/img/icon-museu.png" alt="Museu">
    <div class="alinhar-botao">
      <ion-button shape="round" color="dark" expand="block" routerLink="/visitar">VISITAR</ion-button>      
      <ion-button shape="round" color="dark" expand="block" routerLink="/login">ENTRAR USANDO CONTA</ion-button>
      <ion-button shape="round" color="light" fill="outline" routerLink="/cadastrar" expand="block">CADASTRAR</ion-button>
   </div>
  </div>
</ion-content>